.header {
    display: flex;
    justify-content: space-between;
    /* background-color: #f0f0f0; */
    border: 2px solid #f0f0f0;
}
.logo-conatiner {
    padding: 15px;
}
.logo {
    width: 100px;
    /* border-radius: 50%; */
}
.app-title{
    vertical-align: middle;
    margin: 20px;
    font-size: 18px;
    color:blueviolet;
}
.nav-items{
    padding: 0px 20px;
}
.nav-items > ul {
    display: flex;
    font-size: 18px;
}
.nav-items > ul > li {
    padding: 10px 10px;
    margin: 10px;
    cursor: pointer;
    list-style-type: none;
}
.top-rated-res{
    padding: 40px 0px;
}
.top-button-active{
    color:green;  
}
.top-button-inactive{
    color: black;
}

.body-container{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0px;
    border: 1px solid #f0f0f0;
}
.card-list{
    display: flex;
}
.card-container{
    margin: 20px;
    background-color: #f0f0f0;
}
.card-container:hover{
    border: 1px solid #f0f0f0;
    cursor: pointer;
}
.card-img{
    width: 200px;
    height: 150px
}
.card-content{
    text-align: center;
}